<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav class="navbar">
        <ul class="menuler" id="menuler">
            <img class="ilogo" src="https://r.resimlink.com/g1DLbe9.png" alt="">
            <li class="menu baslik" id="baslik">İndir GA</li>
            <i class="fa-solid fa-bars bars-i" id="menua" onclick="menua()"></i>
            <i class="fa-solid fa-xmark bars-i-k" id="menuk" onclick="menuk()"></i>
            <hr id="nhr" style="display: none; margin-top: 0px; background-color: whitesmoke; border: none; height: 2px;">
            <li class="menu menut" id="m1">Ansayfa</li>
            <li class="menu menut" id="m2">İletişim</li>
            <li class="menu menut" id="m3">SSS</li>
            <li class="menu menut" id="m4"><i onclick="araa()" class="fa-solid fa-search ara-i"></i></li>
            <li class="menu araa2" id="m7"><i onclick="araa2()" class="fa-solid fa-search ara-i"></i></li>
            <li class="menu menut" id="m5"><i onclick="arak()" class="fa-solid fa-xmark ara-i"></i></li>
            <li class="menu arak2" id="m6"><i onclick="arak2()" class="fa-solid fa-xmark ara-i"></i></li>
        </ul>
        <form id="ara" method="post">
            <input type="text" name="" autocomplete="off" id="ara-kutu" placeholder="Uygulama Arayın...">
            <input type="submit" value="Ara" class="ara-btn">
        </form>
    </nav>
    <div class="bgs">
        <br><br><br>
        
        <footer>
            &copy; 2022 İndir GA
        </footer>
    </div>
    <script src="./index.js"></script>
</body>
</html>