<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesaj GA | Anasayfa</title>
</head>
<body>
    <nav class="navbar">
        <img class="ilogo" src="https://r.resimlink.com/g1DLbe9.png" alt="">
        <h1 class="logo">MESAJ GA</h1>
        <input type="checkbox" id="menuBtn">
        <label for="menuBtn" class="menuBtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="/">Anasayfa</a></li>         
            <li><a href="/iletisim">İletişim</a></li>        
            <li><a class="etkin">Giriş Yap</a></li>
            <li><a href="/kayit-ol">Kayıt ol</a></li>
        </ul>
    </nav>
    <div class="bgs">
        <br><br><br><br>
        <br>
        <form method="post" id="kayit">
            <h1>Giriş Yap</h1><br>
                <input required name="email" autocomplete="off" placeholder="Epostanızı girin" class="inputf" type="email"><br><br>
                <input required name="pass" autocomplete="off" placeholder="Şifrenizi girin" id="pass1" class="inputf" type="password"><br><br>
                <input class="kayit-ol" type="submit"><br><br>
                <h5><a href="/giris-yap/sifremi-unuttum">Şifremi unuttum</a></h5><br>
                <h5>Daha hesabınız yok mu ? <a href="/kayit-ol">Kayıt ol</a></h5>
        </form>    
        <footer style="margin-top: calc(100vh - 425px);">
            &copy; 2022 İndir GA
        </footer>
    </div>
    <script src="./index.js"></script>
</body>
</html>