<!DOCTYPE html>
<html lang="tr-TR">
    <head>
        <%- include('src/head') %>
    </head>
    <body>
        <div class="kr-div">
            <img src="https://cdn.jsdelivr.net/gh/Nurislam-Lord/images@main/user.png" alt="resim yüklenemedi!">
            <br>
            <h1>Nurislam size arıyor. . .</h1>
            <br>
            <div>
                <button class="cevapla">Cevapla</button>
                <button class="geri-c">Geri çevir</button>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
    </body>
</html>
