@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    outline: none;
}

.kayitol:hover{
    background-color: rgb(0, 255, 115);
    transition: 0.3s;
    font-weight: 800;
    color: black;
}

.inputf::placeholder{
    color: rgba(245, 245, 245, 0.65);
}

.inputf:hover{
    border-bottom: solid 2px rgba(245, 245, 245, 1);
    transition: 0.3s;
}

#kayit h1{
    font-size: 35px;
    font-weight: 400;
}

.kayit-ol:hover{
    background-color: rgb(0, 255, 0);
    color: black;
    transition: 0.3s;
    font-weight: 800;
}

.kayit-ol{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(0, 255, 0);
    padding: 15px 80px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 20px;
}

#kayit{
    background-color: rgba(0, 0, 0, 0.60);
    padding: 30px 10px;
    width: 300px;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
}

.inputf:focus{
    border-bottom: solid 2px rgba(245, 245, 245, 1);
    transition: 0.3s;
}

.inputf{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    border: none;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 2px rgba(245, 245, 245, 0.65);
}
.kayitol{
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 25px;
    border: solid 2px rgb(0, 255, 115);
}

::selection{
    background-color: rgb(0, 120, 120);
    color: whitesmoke;
}

.bgs{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100vh;
    text-align: left;
    padding-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    align-self: center;
    text-align: center;
    z-index: -2;
}

.icon{
    transition: 0.3s;
    font-size: 35px;
    float: right;
    margin-right: 15px;
}

.box:hover > #icon1{
    transition: 0.3s;
    color: #97c500;
}

.box:hover > #icon2{
    transition: 0.3s;
    color: #005ebd;
}

#bosluk{
    min-height: calc(100vh - 50px);
}

footer{
    background-color: black;
    padding: 15px 0px;
    /* margin-top: -57px; */
    text-align: center;
    font-size: 20px;
    width: 100%;
}

#icon1{
    margin-right: 30px;
    transition: 0.3s;
    color: #c3ff00;
}

#icon2{
    transition: 0.3s;
    color: #007fff;
}


.box{
    background-color: rgba(255, 255, 255, 0.60);
    width: 75vw;
    display: block;
    border-radius: 100px;
    text-align: left;
    padding: 20px 0px 0px 80px;
    overflow-y: hidden;
    margin: auto;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.box:hover{
    transition: 0.3s;
    background: white;
}

.box img{
    margin-bottom: -50px;
    transition: 0.3s;
    float: left;
    width: 80px;
    margin-left: -80px;
    margin-top: -20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline;
}

.box h2{
    font-size: 25px;
    color: black;
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    display: inline;
}

.ilogo{
    width: 60px;
    margin: 10px 20px;
    line-height: 80px;
    float: left;
}

.tmm{
    font-size: 20px;
    padding: 7px 20px;
    margin-top: 15px;
    background-color: #006b5b;
    margin-bottom: 20px;
    border: solid 2px #00a88f;
    border-radius: 7px;
    cursor: pointer;
}

.sdo{
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
    border-radius: 10px;
    /* margin-top: calc(50vh - 59px); */
    padding: 10px;
    width: 250px;
}

.sdo h3{
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 20px;
}

.sdo input{
    width: 200px;
}

body{
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-size: cover;
    width: 100vw;
    overflow-y: hidden;
    height: 100vh;
    background-position: center;
}


.pr{
    width: 30px;
    border-radius: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 3;

}

::-webkit-scrollbar-track {
    background: rgb(0, 170, 170);
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 120, 120);
    border-radius: 15px;
}
hr{
    background-color: whitesmoke;
    height: 1px;
    margin-top: 75px;
}

#m5{
    display: none;
    cursor: pointer;
}

#ara{
    background-color: rgb(0, 170, 170);
    padding-top: 10px;
    margin-top: 85px;
    text-align: center;
    position: fixed;
    display: none;
    border-top: solid 2px whitesmoke;
    width: 100%;
}

#ara-hr{
    position: fixed;
    width: 100%;
    border: none;
    z-index: -1;
    display: none;
}

.ara-btn{
    margin-left: -5.2px;
    border: none;
    font-size: 25px;
    padding: 12px 20px 12px 20px;
    background-color: rgb(63, 63, 63);
    border-top-right-radius: 10px;
    transition: 0.3s;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.ara-btn:hover{
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
}

#ara-kutu{
    background-color: rgba(255, 222, 173, 0);
    font-size: 25px;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
    border: none;
    padding: 10px 20px;
    transition: 500ms;
    display: inline;
    border: solid 2px rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#ara-kutu::placeholder{
    transition: 500ms;
    color: rgba(255, 255, 255, 0.50);
}

#ara-kutu:focus{
    border: solid 2px rgb(255, 255, 255);
    transition: 500ms;
}

#ara-kutu:hover{
    border: solid 2px rgb(255, 255, 255);
    transition: 500ms;
}

.mg{
    background-color: rgb(255, 255, 255);
    height: 60px;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 250px);;
    text-align: center;
}

.mg input{
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    width: 500px;
    left: 0px;
    font-size: 23px;
    transition: all 0.3s;
    color: black;
    bottom: 0px;
}

#hesapp{
    overflow-y: auto;
    height: calc(100vh - 140px);
    padding: 20px 0px;
    /* padding-left: 15px; */
    width: calc(100vw - 250px);
}

.mg input:focus{
    border-bottom: solid 2px black;
}

.mg button{
    border-radius: 100%;
    font-size: 23px;
    background-color: #07af96;
    border: none;
    text-align: center;
    padding:  8px 14px 8px 13px;
    margin-top: 5px;
}

.mesaj{
    background-color: rgba(214, 214, 214, 0.85);
    display: inline-block;
    font-size: 20px;
    color: black;
    box-shadow: 0px 0px 15px black;
    max-width: 40vw;
    margin: 0px 0px 10px 15px;
    border-radius: 9999999px;
    text-align: left;
    float: left;
    word-wrap: break-word;
    padding: 10px 20px;
}

.mesajb{
    background-color: rgba(124, 255, 174, 0.85);
    display: inline-block;
    font-size: 20px;
    color: black;
    margin: 10px 15px 0px 0px;
    box-shadow: 0px 0px 15px black;
    max-width: 40vw;
    border-radius: 9999999px;
    text-align: left;
    word-wrap: break-word;
    padding: 10px 20px;
    float: right;
}

.menu{
    margin-right: 30px;
    display: inline;
    color: whitesmoke;
    font-size: 27px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 30px;
}

.ara-i{
    color: whitesmoke;
    font-size: 27px;
    display: inline;
}

.baslik{
    display: inline;
    color: whitesmoke;
}

nav{
    z-index: 2;
}

.arak2{
    display: none;
}

.araa2{
    display: inline;
}

.menuler{
    padding: 25px 0px 25px 0px;
    text-align: center;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    background-color: rgb(0, 170, 170);
}

.navhr{
    display: none;
}

.bars-i{
    float: right;
    font-size: 27px;
    color: whitesmoke;
    margin-top: -58px;
    display: none;
    margin-right: 15px;
    cursor: pointer;

}

.bars-i-k{
    display: none;
    cursor: pointer;
    float: right;
    font-size: 30px;
    color: whitesmoke;
    margin-top: -58px;
    margin-right: 17px;

}

#m4{
    display: none;
}

nav{
    background-color: #07af96;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    height: 80px;
}

#dbox{
    display: none;
}

.dbox{
    background-color: rgb(28, 221, 192);
    display: inline-block;
    position: absolute;
    top: -20px;
    z-index: 1;
    padding: 0;
    right: 2rem;
    transition: 0.2s ease-in;
    border-radius: 0px 0px 9px 9px;
}

#dbox:checked~.dbox{
    transition: 0.2s ease-in-out;
    top: 80px;
}

#abs{
    transition: all 0.2s ease-in;
}

.dbox a{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
    text-decoration: none;
}

.pro{
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 10px 30px;
}

.pro:hover{
    color: rgb(221, 221, 221);
    background-color: #007765;
}

.cyb{
    font-weight: 600;
    color: rgb(160, 0, 0);
    border-radius: 0px 0px 8px 8px;
    padding: 10px 30px;
}

.cyb:hover{
    color: rgb(255, 124, 124);
    background-color: #700000;
}

.logo{
    color: whitesmoke;
    font-size: 2rem;
    height: 80px;
    margin: 0;
    display: inline-block;
    line-height: 78px;
}

nav ul{
    float: right;
    margin-bottom: 0px;
    margin-right: 2rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding-bottom: -10px;
    line-height: 78px;
    margin: 0 .2rem;
}

#menuBtn{
    display: none;
}

.menuBtn{
    color: whitesmoke;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    float: right;
    line-height: 80px;
    margin-right: 1rem;
}

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 15px;
}

nav ul li a:hover{
    background-color: #007765;
    color: whitesmoke;
}

.dboxl{
    display: inline-block;
}

.dboxr{
    display: none;
}

.pror{
    width: 150px;
    border-radius: 100%;
    background-color: whitesmoke;
    border: solid 5px rgb(0, 174, 255);
    height: 150px;
}

#onur h1{
    margin-top: 10px;
    color: rgb(201, 0, 0);
    font-weight: 900;
}

#onur h4{
    color: black;
}

.hesap{
    background-color: rgba(245, 245, 245, 0.15);
    width: calc(100vw - 250px);
    float: right;
    height: calc(100vh - 80px);
    display: block;
    margin-top: -80px;
    overflow-y: scroll;
    height: 100vh;
    /* margin: auto; */
    padding-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}


.list p{
    display: inline-block;
    background-color: #0072be;
    flex-direction: column;
    color: whitesmoke;
    text-align: start;
    font-size: 25px;
    border-radius: 25px;
    width: calc(100vw - 300px);
    padding: 5px 20px;
    margin: 20px;
}

.kisi{
    padding-left: 10px;
    display: block;
    text-align: left;
    overflow: auto;
    left: 0px;
    height: calc(100vh - 80px);
    width: 250px;
    background-color: rgba(0, 0, 0, 0.65);
}

.kisi *{
    display: inline;
}

.kisi div{
    margin: 20px 0px;
    display: inline-block;
    cursor: pointer;
}

.kisi div h3{
    line-height: 50px;
}

.kisi div img{
    left: 10px;
    width: 50px;
    height: 50px;
    border: solid 1px blue;
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.856);
}

#onur i{
    font-size: 100px;
    color: rgb(201, 0, 0);
    margin-top: 20px;
}

#onurd{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    padding-bottom: 30px;
    left: 0;
    overflow-y: auto;
    z-index: 6;
}

.video{
    width: 75vw;
    height: auto;
}

.profil{
    color: whitesmoke;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

#onur{
    box-shadow: 0px 0px 6px whitesmoke;
    position: absolute;
    top: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: auto;
    transition: all 0.25s ease-in;
    z-index: 10;
    display: inline-block;
    background-color: whitesmoke;
    width: 78vw;
    left: 11vw;
}

@media (max-width:860px){
    #mesaji{
        width: 400px;
    }
}

@media (max-width:740px){
    /* #mesaji{
        width: 200px;
    } */

    .hesap{
        width: 100vw;
    }

    #hesapp{
        width: 100vw;
    }

    .kisi{
        background-color: rgba(0, 0, 0, 0.95);
        transition: all 0.25s;
    }

    .mg{
        width: 100vw;
    }

    .kisi{
        position: absolute;
        left: -250px;
    }

    .dboxl{
        display: none;
    }

    .menuBtn{
        display: initial;
    }

    nav ul{
        position: fixed;
        background-color: #007765;
        width: 100%;
        height: calc( 100vh - 80px);
        top: 80px;
        transition: 0.4s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -100%;
        justify-content: center;
    }

    nav ul li{
        display: block;
        min-width: 80%;
        line-height: 70px;
        height: 70px;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    nav ul li a{
        line-height: 43px;
        font-size: 1.4rem;
        display: block;
        height: 70px;
    }

    .dboxr{
        display: block;
    }

    nav #menuBtn:checked ~ ul{
        left: 0;
        transition: 0.4s ease-in-out;
    }
}
    
nav ul li a.etkin{
    cursor: default;
    background-color: #2a3c8c;
}